.chatPage{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chatContainer{
    background-color: azure;
    height: 60%;
    width: 50%;
}
.header{
    background-color: crimson;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header>h2{
   font-size: 2vmax;
   color: white;
   margin: 2.5vmax;
}
.header img{
    margin: 2.5vmax;
    transition: all 0.3s;
    cursor: pointer;
}
.header>img:hover{
    transform: scale(1.1);
}
.chatBox{
    height: 68%;
    box-sizing: border-box;
}
.inputBox{
    height: 5%;
    box-sizing: border-box;
    display: flex;
}
#chatInput{
    width: 80%;
    border: none;
    padding: 1.4vmax;
    box-sizing: border-box;
    background-color: azure;
    outline: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2vmax;
    border-top: 0.2vmax solid rgb(53, 53, 53);
}
.sendBtn{
    background-color: crimson;
    color: azure;
    border: none;
    width: 20%;
    transition: all 0.3s;
    cursor: pointer;
}
.sendBtn>img{
    width: 2.6vmax;
    filter: brightness(100) invert();
    transition: all 0.3s;
}
.sendBtn:hover{
    background-color: maroon;
}
.sendBtn:hover.sendBtn>img{
    transform: translateX(10px);
}