.JoinPage{
    background-color: rgb(27, 23, 23);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.JoinContainer{

    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.JoinContainer > img{
    width: 5vmax;
}

.JoinContainer > h1{
    color: aqua;
    font-size: 2vmax;
    font-family: Alkatra;
    width: 30vmax;
    border-bottom: 0.2vmax solid white;
    text-align: center;
    padding: 1vmax;
    box-sizing: border-box;
}

#JoinInput{
    width: 30vmax;
    padding: 1vmax;
    border: none;
    outline: none;
    font-size: 1.2vmax;
    margin: 2vmax;
    box-sizing: border-box;
}

.Joinbtn{
    width: 30vmax;
    padding: 1vmax;
    border: none;
    outline: none;
    font-size: 1.2vmax;
    background-color: maroon;
    box-sizing: border-box;
    color: azure;
    font-family: Alkatra;
    transition: all 0.3s;
    cursor: pointer;
}
.Joinbtn:hover{
    background-color: rgb(70, 3, 3);
}